<ion-header-bar class="bar-calm">
    <button class="button button-icon ion-ios-arrow-back" native-ui-sref="tab.friends" native-options="{type: 'slide', direction:'right'}">
    </button>
    <h1 class="title">详细资料</h1>
</ion-header-bar>
<ion-view title="详细资料" on-swipe-right="onSwipeRight()">
    <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
        <ion-list>

            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">基本资料</div>
                </div>
            </ion-item>
                       
            <ion-item class="item-thumbnail-left">
                <img ng-src="{{contact.icon}}">
                <div class="row">
                <div class="col">
                    <h2 ng-bind="contact.name"></h2>
                </div>
                </div>
                <div class="row">
                <!-- <p ng-bind="contact.name">部门</p> -->
                <div class="col">
                    <p ng-bind="contact.job"></p>
                </div>                
                </div>
            </ion-item>

            <ion-item class="item-divider"></ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-25">部门</div>
                    <div class="col">{{contact.department}}</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-25">联系电话</div>
                    <div class="col">{{contact.user}}</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-25">个性签名</div>
                    <div class="col">{{contact.signing}}</div>
                </div>
            </ion-item>  
<!--             <ion-item ng-disabled="true">备注</ion-item>    -->    
            
            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">个性设置</div>
                </div>
            </ion-item> 

            <ion-toggle toggle-class="toggle-calm" ng-disabled="true">
                <div class="row">
                    <div class="col">定制提示音</div>
                </div>
            </ion-toggle>
            <label class="item item-select" ng-disabled="true">
                <span class="input-label" ng-disabled="true">
                    <div class="row">
                        <div class="col">消息提示音</div>
                    </div>
                </span>
                <select ng-disabled="true">
                    <option>叮咚</option>
                    <option>滴答</option>
                </select>
            </label>

            <ion-item class="item-divider"></ion-item>  

            <button class="button button-balanced button-block" ng-click="messageDetails(contact.user)">发送消息</button>

            <ion-item class="item-divider"></ion-item>
        
            <button class="button button-calm  button-block">同步聊天记录</button>
            <button class="button button-assertive  button-block">清空聊天记录</button>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
    </ion-content>
</ion-view>
