<ion-header-bar class="bar-calm">
    <button class="button button-icon ion-ios-arrow-back" native-ui-sref="tab.setting" native-options="{type: 'slide', direction:'right'}">
    </button>
    <h1 class="title">修改资料</h1>
</ion-header-bar>
<ion-view title="详细资料" on-swipe-right="onSwipeRight()">
    <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
        <ion-list>

            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">基本资料</div>
                </div>
            </ion-item>

            <ion-item class="item-thumbnail-left">
                <img ng-src="{{contact.icon}}">
                <div class="row">
                    <div class="col">
                        <h2 ng-bind="contact.name"></h2>
                    </div>
                </div>
                <div class="row">
                <!-- <p ng-bind="contact.name">部门</p> -->
                    <div class="col">
                        <p ng-bind="contact.job"></p>
                    </div>                
                </div>
            </ion-item>

            <ion-item class="item-divider"></ion-item>

            <ion-item>
                <div class="row">
                    <div class="col col-25">部门</div>
                    <div class="col" ng-bind="contact.department"></div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-25">联系电话</div>
                    <div class="col" ng-bind="contact.user"></div>
                </div>
            </ion-item>

            <ion-item class="item item-input-inset">
                <div class="row">
                    <span class="col col-25">个性签名</span>
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="signing">
                    </label>
                    <button class="button button-small button-clear button-balanced" ng-click="updateSigning(signing)" ng-show="signing!=contact.signing">
                    提交
                    </button>
                </div>
            </ion-item>


            <ion-item class="item-divider"></ion-item>
        
            <div class="spacer" style="width: 283px; height: 100px;"></div>

            <button class="button button-balanced  button-block" ng-disabled="true">提交</button>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
    </ion-content>
</ion-view>
