<ion-header-bar class="bar-calm">
    <h1 class="title">登录</h1>
</ion-header-bar>
<ion-view title="登录">
    <!-- <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header"> -->
        <ion-content overflow-scroll="true" padding="true" class="has-header">

            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <div style="text-align:center;">
                <img src="img/XfvXiuBHSK2FVVoS2Vqi_20140723063855_ak2CY.thumb.700_0.jpeg" width="60%" height="auto" style="border-radius: 1em;">
            </div>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
        <form class="list" name="userForm">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">账号</span>
                    <input name="username" type="tel" placeholder="" ng-model="send_user" ng-disabled="logining" required minlength="11" ng-maxlength="11" my-focus="focusField1">
                </label>

                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="send_password" ng-disabled="logining" required>
                </label>
            </ion-list>
            <!-- <div class="spacer" style="width: 300px; height: 5px;"></div> -->
            <div class="card" ng-show="userForm.username.$pristine">
              <div class="item item-text-wrap item-calm">
                请输入帐号和密码
              </div>
            </div>
            <div class="card" ng-show="userForm.username.$valid">
              <div class="item item-text-wrap item-calm">
                默认密码为:123456
              </div>
            </div>

            <div class="card" ng-show="userForm.username.$invalid && !userForm.username.$pristine">
              <div class="item item-text-wrap item-assertive">
                请在帐号处输入正确格式的手机号
              </div>
            </div>
            <a class="button button-balanced  button-block" ng-click="login(send_user,send_password)" native-options="{type: 'slide', direction:'left'}" ng-disabled="logining||userForm.$invalid" placeholder="请输入您的手机号">登录</a>

        </form>
        <ion-infinite-scroll ng-show="logining">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

