<ion-header-bar class="bar-calm">
    <h1 class="title">通讯录</h1>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content overflow-scroll="false" has-bouncing="true">
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
            &nbsp;
            {{group.department}}
          </ion-item>
          <ion-item class="item-avatar"
                    ng-repeat="contact in group.contacts"
                    ng-show="isGroupShown(group)"
                    ng-click="personDetail(contact)">
                    <img ng-src="{{contact.icon}}">
                    <h2 ng-bind="contact.name"></h2>
                    <span class="badge badge-balanced" ng-bind="contact.job"></span>
                    <p ng-bind="contact.user"></p>            
          </ion-item>
          
        </div>
      </ion-list>


    </ion-content>
</ion-view>
