<ion-header-bar class="bar-calm">
    <h1 class="title">通讯录</h1>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>

      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion item-thumbnail-left"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)"
                    ui-sref="personDetail">
                    <img><h2>{{item}}</h2><p>个性签名</p>
            
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
</ion-view>
