<ion-header-bar class="bar-calm">
	<h1 class="title">设置</h1>
</ion-header-bar>
<ion-view title="设置" on-swipe-right="onSwipeRight()">
    <ion-content overflow-scroll="true" class="has-header">
        <ion-list>
        	<ion-item class="item-divider">个人资料</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="personDetail">
                <img>
                <h2>姓名</h2>
                <p>部门</p>
            </ion-item>
            <ion-item class="item-divider">消息提醒</ion-item>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">声音</ion-toggle>
            <label class="item item-select">
                <span class="input-label">提示音</span>
                <select>
                    <option>泉水</option>
                    <option>铃声</option>
                    <option>微信声</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">振动</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">推送</ion-toggle>
            <ion-item class="item-divider">通知提醒</ion-item>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">声音</ion-toggle>
            <label class="item item-select">
                <span class="input-label">提示音</span>
                <select>
                    <option>叮咚</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">振动</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" ng-checked="true">推送</ion-toggle>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-right" ui-sref="about"> 关于PENPEN<i class="icon ion-ios-arrow-right"></i></ion-item>

            <ion-item class="item-divider"></ion-item>
        </ion-list>
        <button id="page5-button4" class="button button-assertive  button-block">退出登录</button>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
    </ion-content>
</ion-view>
