<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="cn.civia.penpen" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>penpen</name>
  <description>
        An IM application for Enterprise users.
    </description>
  <author email="zhengzhangkuan@qq.com" href="http://www.civia.cn/">
      淡淡的秋天
    </author>
  <content src="index.html"/>
  <!-- Plugins -->
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-device" version="1.1.1">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-media" version="2.2.0">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-x-toast" version="2.5.0">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cn.jpush.phonegap.JPushPlugin" version="2.1.0">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-websocket" version="0.12.0">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-splashscreen" version="3.1.0">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.telerik.plugins.nativepagetransitions" version="0.6.4">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="ionic-plugin-keyboard" version="2.0.1">
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-whitelist" version="1.2.1">
  <plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-sqlite-storage" version="0.8.5">
  <access origin="*"/>
  <!-- orientation portrait -->
  <preference name="orientation" value="portrait" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <!-- ionic-native-transitions -->
  <preference name="CrosswalkAnimatable" value="true" />
  <!-- Splash Screen -->
  <preference name="SplashScreen" value="screen"/>
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="SplashMaintainAspectRatio" value="false" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="FadeSplashScreen" value="false"/>
  <!-- Status Bar -->
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>