<ion-header-bar class="bar-calm">
    <h1 class="title">消息</h1>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()">
    <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
        <ion-list rj-close-back-drop>
<!--             <ion-item class="item-avatar" ng-class="{'rj-item-top': gmessage.isTop}" on-hold="popupMessageOpthins(gmessage)" rj-hold-active ng-repeat="gmessage in gmessages | orderBy:['isTop', 'lastTime']:true" ng-click="gmessageDetails(gmessage.gid)">
                <img ng-src="img/groupIcon.jpg">
                <span class="rj-sm-red-icon" ng-show="gmessage.unreadNo"><p ng-bind="gmessage.unreadNo"></p></span>
                <h2 ng-bind="gmessage.name"></h2>
                <p class="rj-list-p" ng-bind="gmessage.lastMessage"></p>
                <span class="rj-push-right" ng-bind="gmessage.lastTime" ng-show="false"></span>
            </ion-item> -->
            <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="message in messages | orderBy:['isTop', 'lastTime']:true" ng-click="messageDetails(message.type,message.user)">
                <img ng-src="{{message.icon}}">
                <span class="rj-sm-red-icon" ng-show="message.unreadNo"><p ng-bind="message.unreadNo"></p></span>
                <h2 ng-bind="message.name"></h2>
                <p class="rj-list-p" ng-bind="message.lastMessage"></p>
                <!-- <span class="rj-push-right" ng-bind="message.lastTime" ng-show="false"></span> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
